<!DOCTYPE html>
<html ng-app="appModule" id="html">
<head>
    <meta charset="utf-8" />
    <title>InfinitScrollGiphys</title>
    <!-------BEGIN of cdn-------->
    <!-- jQuery (must appear first) -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>

    <!-- angularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-touch.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-------END of cdn-------->

    <script src="core.js"></script>
</head>
<body>
    <div ng-controller="InfinitScrollController as ctrl"  class="screenInfo">
        <div ng-repeat="giphy in ctrl.giphys">
            <div>{{giphy.largeImageURL}}</div>
            <div>                
                <img ng-src="{{giphy.largeImageURL}}" class="image" />
            </div>
        </div>
    </div>
</body>
</html>