.screen, .screenInfo
{
    border-style: solid;
    border-width: thin thin thin thin;
    border-color: #000066;
    border-radius: 5px;
    width: 100%;
    height: auto;
    font-size: 0.75rem;
    text-align: center;
    overflow: auto;
    margin: 4px 5px 5px 0px;
    padding: 5px;
    font-family: Helvetica, 'Bodoni MT', Rockwell, Consolas, "Courier New", Courier, monospace;
    vertical-align: middle;
    float: none;
    background-color: inherit; /*#3a87ad;*/ /*#CCFFFF;*/ /*#5bc0de;*/
    background: transparent;
    /*opacity: 0.7;*/
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.screenInfo, .bgInfo {
    background-color: #d9edf7; /*var(--info-color);*/
}

.image {
    height: 40rem;
    width: 60rem;
    border: thin solid gold;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}